<footer class="footer-copyright"></footer> <!-- copyright placeholder -->
<script src="/js/variables.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/State.js"></script>
<script src="/js/Elements.js"></script>
<script src="/js/eventListeners.js"></script>
<script src="/js/index.js"></script>
<script src="/js/languages.js"></script>
</body>

</html>