<!-- DISPLAYS A SUBMISSION FORM FOR A NEW MEAL -->
<% include partials/header.ejs %>

<div class="new-meal-container">
  <h1 class="new-meal-heading"></h1> <!-- 'new meal' heading placeholder -->

  <form class="new-meal-form" action="/meals" method="POST" enctype="multipart/form-data">
    <input class="new-meal-form__meal-name" type="text" name="name" autocomplete="off">

    <label class="new-meal-form__label">
      <span class="new-meal-form__choose-picture"></span> <!-- choose picture placeholder -->
      <input type="file" id="file" name="image" style="display: none;">
    </label>

    <!-- <output> is a placeholder for the selected image -->
    <output id="list"></output>

    <button class="new-meal-form__submit js-submit"></button> <!-- submit picture placeholder -->
  </form>

  <a class="go-to-main-page" href="/"></a> <!-- back to main page placeholder -->
</div>

<script src="/js/new.js"></script>

<% include partials/footer.ejs %>