<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%# title placeholder %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
  <nav class="navbar-top">
    <a class="navbar-top__brand" href="/"><%# brand placeholder %></a>

    <%# <!-- search input --> %>
    <input type="search" class="search-input" placeholder="search meals" maxlength="12">
    
    <div class="language">

      <%#  <!-- radio button for the polish flag -->  %>
      <div class="language__radio-button-box">
        <input class="language__radio-button" type="radio" id="pl" name="language">
        <label class="language__label" for="pl">
          <svg>
            <use xlink:href="/images/vector.svg#flag-pl"></use>
          </svg>

        </label>
      </div>

      <%# <!-- radio button for the british flag --> %>
      <div class="language__radio-button-box">
        <input class="language__radio-button" type="radio" id="en" name="language">
        <label class="language__label" for="en">
          <svg>
            <use xlink:href="/images/vector.svg#flag-gb"></use>
          </svg>
        </label>
      </div>

    </div> <%# <!-- class="language" ends --> %>

    <a class="navbar-top__add-meal" href="/meals/new"><%# 'add meal' placeholder %></a>
  </nav>
