/*
* animations
*/

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacify-icon-for-image-rotation {
  50% {
    opacity: 0;
  }
}

@keyframes spin-icon-for-image-rotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-centered-element {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
