/// ANIMATIONS
@keyframes opacityChange {
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-image-rotator-opacity-change {
  50% {
    opacity: 0;
  }
}

@keyframes animate-image-rotator-rotate {
  100% {
    transform: rotate(360deg);
  }
}
