/// <*>
* {
  margin: 0;
  padding: 0;
  // outline: 1px solid pink;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/// <html>
html {
  box-sizing: border-box;
  font-size: $font-size;
}
/// <body>
body {
  font-family: $font-family;
  min-height: 100vh; // to push down the footer on low-height pages
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
