// @import "variables"
/// CONTAINER WITH ALL MEAL BOXES
.meals-container {
  opacity: 0;
  max-width: 117rem;
  margin: 6rem auto 1rem; // compensate for the fixed navbar
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: opacityChange 3s forwards;
}

//. <figure> MEAL BOX - FRAMES EACH INDIVIDUAL MEAL
.meal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  border: $grey-line;
  margin: 1rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: crosshair;
  overflow: hidden;

  @media only screen and (max-width: em(400)) {
    width: 100%;
    margin: 0.4rem;
  }

  // transform a meal photo when hovered
  &:hover &__photo {
    @media (pointer: fine) and (min-width: em(400)) {
      filter: blur(2px) brightness(60%);
      transform: scale(1.1);
    }
  }
  &:hover &__button {
    @media (pointer: fine) and (min-width: em(400)) {
      visibility: visible;
      opacity: 1;
      transform: translateY(18rem);
    }
  }

  //, <div> PHOTO BOX CONTAINS PHOTO, BUTTON
  &__photo-box {
    position: relative;
    width: 100%;
    max-height: $photo-height;
    overflow: hidden;
    @media only screen and (max-width: em(400)) {
      height: auto;
    }
  }

  // <img> MEAL PHOTO
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.4s;
    // trying for smoother effects
    filter: blur(0.0000001px) brightness(100%);
    transform: scale(1);

    @media only screen and (max-width: em(400)) {
      object-fit: contain;
    }
  }

  // <button> BUTTON COOKED TODAY
  &__button {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;

    // touchscreen only mode: the button is permanently displayed (to be overriden if mouse is present)
    width: 100%;
    padding: 1rem 0 0.6rem;
    background: linear-gradient(to right, $color-meal-box-heading, #254b98);
    border-bottom: 0.4rem solid #123681;
    box-shadow: 0rem 0.2rem 0.3rem rgba(black, 0.3);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    outline: none;
    @media (max-width: em(400)) {
      font-size: 1.7rem;
    }

    // if a mouse is present and the screen is larger than 400px - the button slides down the photo instead of being permanently displayed
    @media (pointer: fine) and (min-width: em(400)) {
      width: 97%; // so it does not stretch beyond the photo
      padding: 1rem 0 0.7rem;
      opacity: 0.4;
      visibility: hidden;
      position: absolute;
      top: -6rem;
      color: #e7e7e7;
      background: none;
      border: none;
      background-color: rgba(73, 67, 67, 0.6);
      outline: $grey-line;
      outline-offset: 0.2rem;
      filter: blur(0.8px); // trying to fix the trembling on hover...
      box-shadow: none;
      border-radius: 0;
      font-size: 2rem;
      transition: all 0.5s;
    }
  }

  //, <figcaption> CONTAINS: ALL TEXT UNDER MEAL PHOTO
  &__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0;
  }

  // <h3> HEADING
  &__heading {
    padding: 1.3rem 0.7rem 0.6rem;
    color: $color-meal-box-heading;
    font-weight: 300;
    font-size: 2.2rem;
    text-align: center;
  }

  // <p> LAST COOKED DATE
  &__last-cooked-date {
    padding: 0.3rem;
    color: #531445;
    font-size: 1.6rem;

    // <span> date displayed
    & .date {
      color: #f38745;
    }
  }

  // <p> COOKED TIMES COUNTER
  &__cooked-times-counter {
    padding-top: 0.3rem;
    padding-bottom: 1.5rem;
    color: #531445;
    font-size: 1.6rem;

    // <span> count displayed
    & .count {
      color: #22962f;
    }

    // <span> if count == 0
    & .countZero {
      color: #e13636;
    }
  }
}
