// @import "variables"
/// CONTAINER WITH ALL MEAL BOXES
.meals-container {
  visibility: hidden; // set to visible by 'masonry.js/
  margin: 6rem auto 1rem; // margin-top: compensate for the fixed navbar
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

//. <figure> MEAL BOX - FRAMES EACH INDIVIDUAL MEAL
.meal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $grey-line;
  margin: 1rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: crosshair;
  overflow: hidden;
  width: 36rem;

  &.hide {
    display: none;
  }

  @media only screen and (max-width: $bp-hidden-button) {
    width: 100%;
    margin: 0.4rem;
  }

  // transform a meal image when meal box hovered
  &:hover &__photo {
    @media (pointer: fine) and (min-width: $bp-hidden-button) {
      filter: blur(2px) brightness(60%);
      transform: scale(1.1);
    }
  }
  // transform a meal button when meal box hovered
  &:hover &__button {
    @media (pointer: fine) and (min-width: $bp-hidden-button) {
      visibility: visible;
      opacity: 1;
    }
  }

  //, <div> PHOTO BOX CONTAINS PHOTO, FLOATING BUTTON
  &__photo-box {
    position: relative;
    overflow: hidden;
  }

  // <img> MEAL PHOTO - transformed when a meal box is hovered
  &__photo {
    display: block;
    width: 100%;
    max-height: $max-image-height;
    object-fit: contain;
    transition: all 0.4s linear; // 'linear' fixes shaky filter: blur on hover
  }

  // <button> BUTTON COOKED TODAY - shows up when a meal box is hovered. slide effect handled by js
  &__button {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;

    // touchscreen only mode: the button is permanently displayed (to be overriden if a mouse is present)
    width: 100%;
    padding: 1rem 0 0.6rem;
    background: linear-gradient(to right, $color-meal-box-heading, #254b98);
    border-bottom: 0.4rem solid #123681;
    box-shadow: 0rem 0.2rem 0.3rem rgba(black, 0.3);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    outline: none;
    @media (max-width: $bp-hidden-button) {
      font-size: 1.7rem;
    }

    // if a mouse is present and the viewport >= min-width - the button slides down the photo instead of being permanently displayed
    @media (pointer: fine) and (min-width: $bp-hidden-button) {
      width: 97%; // so it does not stretch beyond the photo
      padding: 1rem 0 0.7rem;
      opacity: 0.4;
      visibility: hidden;
      position: absolute;
      top: -6rem;
      color: #e7e7e7;
      background: none;
      border: none;
      background-color: rgba(73, 67, 67, 0.6);
      outline: $grey-line;
      outline-offset: 0.2rem;
      filter: blur(0.8px); // trying to fix the trembling on hover...
      box-shadow: none;
      border-radius: 0;
      font-size: 2rem;
      transition: all 0.5s;
    }
  }

  //, <figcaption> CONTAINS: ALL TEXT UNDER MEAL PHOTO
  &__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0;
  }

  // <h3> HEADING
  &__heading {
    padding: 1.3rem 0.7rem 0.6rem;
    color: $color-meal-box-heading;
    font-weight: 300;
    font-size: 2.2rem;
    text-align: center;
    outline: none;
  }

  // <p> LAST HAD IT DATE
  &__date {
    padding: 0.3rem;
    color: #531445;
    font-size: 1.6rem;

    // <span> date displayed
    & .date-value {
      color: #f38745;
      outline: none;
    }
  }

  // <p> HAD COUNT (how many times one had the meal)
  &__had-count {
    padding-top: 0.3rem;
    padding-bottom: 1.1rem;
    color: #531445;
    font-size: 1.6rem;

    // <span> count displayed
    & .had-count-value {
      color: #22962f;
      outline: none;
    }

    // <span> if count == 0
    & .countZero {
      color: #e13636;
      outline: none;
    }
  }
}
