/// <nav> NAVBAR FIXED ON TOP
.navbar-top {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1;
  background-color: #f8f8f8;
  border-bottom: $grey-line;
  justify-content: space-between;
  align-items: center;

  //. <a> BRAND LINK TO ROOT PAGE
  &__brand {
    text-decoration: none;
    color: #5e5e5e;
    font-size: 1.8rem;
    text-align: left;
    padding-right: 0.7rem;
    padding-left: 1.5rem;
  }

  //. <a> ADD NEW MEAL LINK
  &__add-meal {
    text-decoration: none;
    color: #5e5e5e;
    font-size: 1.6rem;
    text-align: right;
    padding-left: 0.7rem;
    padding-right: 1.5rem;
  }
}
