/* 
* page for adding new meals
*/

/// <div> CONTAINER
.new-meal-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width: 36rem;
  margin: 6rem auto; // compensate for the fixed navbar
  @media only screen and (max-width: em(400)) {
    width: 100%;
  }

  // <h2> THIS SAYS 'NEW MEAL ADDED!", intitially hidden
  & .new-meal-added-message {
    display: none;
    margin-top: 2.6rem;
    align-self: center; // stretch -> center prevents overflow when the text scales up
    color: #179c1e;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    animation: pulsate 5s infinite;
    &.js-show {
      display: block;
    }
  }

  // <h1> HEADING SAYING 'NEW MEAL'
  & .new-meal-heading {
    font-size: 2.8rem;
    font-weight: 500;
    padding: 2.6rem 1.3rem;
    color: #5e5e5e;
    text-transform: uppercase;
  }

  // <a> RETURN TO THE MAIN PAGE LINK
  & .go-to-main-page {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #337ab7;
  }
}

//. <form> FORM FOR NEW MEAL SUBMISSION
.new-meal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;

  //, <input> INPUT FOR THE MEAL NAME AND PASSWORD
  &__meal-name,
  &__password {
    height: 2rem;
    border: $grey-line;
    outline: none;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;

    &::placeholder {
      font-size: 1.6rem;
    }

    // modify the password placeholder if error submitting a meal
    &.js-error {
      &::placeholder {
        color: red;
        opacity: 1; /* Firefox */
      }
    }
  }

  //, <label> LABEL THAT YOU CLICK TO PICK AN IMAGE
  &__label {
    border: $grey-line;
    background-color: #fafafa;
    padding: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
    cursor: pointer;
    border-radius: 0.4rem;

    &.js-disable {
      pointer-events: none;
      opacity: 0.4;
    }

    &:hover {
      background-color: #f2f2f2;
    }
  }

  //, <span> PICK IMAGE TEXT INSIDE THE LABEL
  &__pick-image-text {
    &.js-error {
      color: red;
    }
  }

  //, <output> IMAGE PREVIEW - PLACEHOLDER FOR THE DISPLAY OF THE SELECTED IMAGE
  #image-preview {
    display: none;
    margin-bottom: 0.6rem;
    &.js-show {
      display: block;
    }

    // <img> the image generated by file reader
    img {
      display: block;
    }
  }

  //, <div> BOX FOR THE SUBMIT BUTTON AND UPLOAD PROGRESS BAR
  &__upload-box {
    opacity: 0;
    height: 0;
    position: relative;
    background-color: #286090;
    color: white;
    font-family: $font-family;
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
    overflow: hidden;
    &.js-show {
      opacity: 1;
      height: 100%;
      transition: all 0.2s;
    }
  }

  // <button> SUBMIT THE MEAL BUTTON THAT IS INVISIBLE BEFORE AN IMAGE IS CHOSEN
  &__submit {
    padding: 0.8rem;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    background-color: inherit;
    color: currentColor;
  }

  // <div> PROGRESS BAR THAT OVERLAPS THE SUBMIT BUTTON
  &__upload-progress-bar {
    width: 0;
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.1rem;
    background-color: inherit;
    transition: all 0.1s 1s;
    &.js-show {
      opacity: 1;
      width: 100%;
      transition: all 0.1s;
    }
  }

  // THE FILL INSIDE THE PROGRESS BAR
  &__upload-progress-bar-fill {
    width: 0%;
    height: 100%;
    background-color: #75d75c;
    transition: width 0.1s;

    // while the fill Returns back to 0 width
    &.js-retract {
      transition: width 1s;
    }
  }

  //,
} // .new-meal-form ends
