.screen-loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15rem;
  height: 15rem;
  animation: spin-centered-element 2s linear infinite;

  &.show {
    display: block;
  }
}
