$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 62.5%;
$grey-line: 1px solid #e7e7e7;
$max-image-height: 49rem;

$color-meal-box-heading: #253c98;

/// BREAKPOINTS (importable in js files)

// from this value up, a permanent 'made today' button is being displayed
// below this value, the 'made today' button is hidden
$bp-hidden-button: 25em; // = 400px
:export {
  bp_hidden_button: $bp-hidden-button;
}

// from this value down, a shorter header is being displayed
$bp-header: 28.125em; // = 450px
:export {
  bp_header: $bp-header;
}

// from this value down to the next bp, three colums are being displayed
$bp-three-columns: 94.75em; // = 1516px
:export {
  bp_three_columns: $bp-three-columns;
}

// from this value down to the next bp, two colums are being displayed
$bp-two-columns: 76.25em; // = 1220px
:export {
  bp_two_columns: $bp-two-columns;
}

// from this value down, only one column is being displayed
$bp-one-column: 48.75em; // = 780px
:export {
  bp_one_column: $bp-one-column;
}
