$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 62.5%;
$grey-line: 1px solid #e7e7e7;
$photo-height: 36.25rem;

$color-meal-box-heading: #253c98;

/// BREAKPOINTS (importable in js files)
$bp-header: 27em; // EMs = 432px
:export {
  bp_header: $bp-header;
}
